.html{
    height: 100%;
}



.App {
    //background-color: #395B64;
    background-image: url(../images/harry_bk.jpg);
    min-height: 100%;
    background-size: 40%;
    //filter:blur(4px);
    // position: fixed;
}


.group-logo {
    text-align: center;
}

.logo {
    border-radius: 50%;
    cursor: pointer;
    max-width: 40%;
    max-height: 90%;
}

.min-height-col {
    min-height: 500px; /* Establece el tamaño mínimo deseado */
}

.video-container{
    text-align: center;
}

.logo-container {
}