.App {
    background-color: #395B64;
    height: 100%;
    // position: fixed;
}

.group-logo {
    text-align: center;
}

.logo {
    border-radius: 50%;
    cursor: pointer;
    max-width: 40%;
    max-height: 90%;
}

.logo-container {
}